@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    color: #828282;
    text-align: center;
    height: 100%;
}

#root {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.page-link {
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
    display: inline;
}

ul {
    list-style-type: none;
    padding: 0;
}

input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.global {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.small-header {
    left: 0;
    margin-left: 10px;
    font-size: 12px;
    position: absolute;
    color: #828282;
}

.main-part {
    flex: 1;
}

.top-bar {
    background-color: white;
    color: white;
    margin-bottom: 10px;
    text-align: left;
}

.top-bar a {
    display: inline;
}

.welcome {
    text-align: center;
    color: #828282;
    font-size: 22px;
}

.header-main {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #ff3b3f;
    display: inline-block;
    transition: color 150ms, background-color 150ms;
    -webkit-transition: background-color 150ms, color 150ms;
}

.header-main:hover {
    background-color: white;
    color: #ff3b3f;
}

.search-container {
    width: 100%;
    margin-bottom: 20px;
}

.search-form {
    text-align: center;
    margin-bottom: 10px;
}

.search-input {
    height: 25px;
    width: 375px;
    font-size: 14px;
    border: 1px solid #ff3b3f;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.search-input::placeholder {
    opacity: 0.5
}

.search-input-with-results {
    border-bottom-left-radius: 0;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 5px 0 #ff3b3f;
}

.search-submit {
    height: 29px;
    font-size: 16px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ff3b3f;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: #ff3b3f;
    cursor: pointer;
    -webkit-transition: background-color 150ms, color 150ms;
    transition: background-color 150ms, color 150ms;
}

.search-submit:hover {
    background-color: white;
    color: #ff3b3f;
}

.search-submit:focus {
    outline: none;
}

.search-prompt {
    text-align: center;
    font-style: italic;
}

.search-result-list {
    width: 600px;
    margin: 0 auto;
    margin-top: 15px;
}

.search-result-category {
}

.search-result-category-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-result {
    color: black;
    text-align: left;
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ff3b3f;
    cursor: pointer;
}

.search-result-title {
    font-weight: bold;
}

.search-result-subtitle {
    font-style: italic;
}

.search-result:hover {
    box-shadow: 0 0 5px 0 #ff3b3f;
}

.search-result-none {
    text-align: center;
    font-style: italic;
    margin-top: 15px;
}

.info-page {
    min-width: 620px;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px 0 #ff3b3f;
    color: black;
}

.info-title {
    font-size: 18px;
    font-weight: bold;
}

.info-page-header {
    text-align: center;
    margin-bottom: 10px;
}

.info-page-section {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.info-page-subsection {
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 15px;
}

.info-page-subhead {
    margin-bottom: 5px;
}

.info-page-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 5px;
}

.info-page-table tr:nth-child(even) {
    background-color: #efefef;
}

.info-page-table td {
    text-align: center;
    border-left: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.info-page-table td.is-link {
    cursor: pointer;
}

.table-cell-small {
    width: 50px;
}

.table-cell-large {
    max-width: 150px;
}

.info-page-table tr:not(.info-page-table-first-row) td:hover {
    background-color: black;
    color: white;
}

.info-page-table tr:not(.info-page-table-first-row):hover {
    background-color: #828282;
    color: white;
}

.info-page-table-first-row td {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.quick-result-list {
    z-index: 63;
    position: absolute;
    background-color: white;
    margin: 0;
    width: 384px;
    border: 1px solid #ff3b3f;
    border-top: none;
    text-align: left;
    font-size: 13px;
}

.quick-result {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #efefef;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.quick-result.focus {
    background-color: #fcfbe3;
}

.quick-result-type {
    float: right;
    font-weight: normal;
    font-style: italic;
}

.quick-result:hover {
    background-color: #fcfbe3;
}

.quick-result-title {
    font-weight: bold;
}

.quick-result-subtitle {
    font-style: italic;
}

.quick-result-list a:last-of-type .quick-result {
    border-bottom: none;
}

.search-input-container {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.with-cursor {
    cursor: pointer;
}

.separator-row {
    border-top: 1px solid black;
}

.edited-row {
    background-color: #ffb3b3 !important;
}

.header-links {
    color: black;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.divisions-button {
    display: inline;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
}

.divisions-button:hover {
    background-color: black;
    color: white;
}

.divisions-button:focus {
    outline: none;
}

.form-container {
    display: inline-block;
    margin-top: 30px;
    width: 300px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px 0 #ff3b3f;
    color: black;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.form-text-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.form-text-input:focus {
    -moz-box-shadow: inset 0 0 3px #ff3b3f;
       -webkit-box-shadow: inset 0 0 3px #ff3b3f;
       box-shadow: 0 0 5px 0 #ff3b3f;
    outline: none;
}

.form-field {
    margin-bottom: 12px;
    padding-left: 3px;
    padding: 3px;
    border-radius: 5px;
}

.form-submit {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: #ff3b3f;
    border: 1px solid #ff3b3f;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 5px;
    -webkit-transition: background-color 150ms, color 150ms, border 150ms;
    transition: background-color 150ms, color 150ms, border 150ms;
}

.form-submit:hover {
    color: black;
    background-color: white; 
    border: 1px solid black;
}


.form-submit:focus {
    outline: none;
}

.form-cancel {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    color: black;
    background-color: lightgray; 
    border: 1px solid lightgray;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 5px;
    -webkit-transition: background-color 150ms, color 150ms, border 150ms;
    transition: background-color 150ms, color 150ms, border 150ms;
}

.form-cancel:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}


.form-cancel:focus {
    outline: none;
}

.form-select {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    appearance: none;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
}

.form-select:hover {
    background-image: linear-gradient(#eee, #ddd, #ccc, #ddd, #eee);
}

.form-select:focus {
    outline: none;
    box-shadow: 0 0 5px 0 #ff3b3f;
}

.selected-school {
    text-align: left;
    font-size: 14px;
}

.selected-school-button {
    margin: 0 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 50%;
}

.selected-school-button:hover {
    background-color: red;
}

.selected-school-button:focus {
    outline: none;
}

.state-result-list {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.flex-column {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 10px;
}

.flex-column-big {
    flex-grow: 3;
    flex-basis: 0;
    margin: 0 10px;
}

.centered {
    text-align: center;
}

.state-list-container {
    margin-top: 16px;
}

.state-list-object {
    color: black;
    text-align: center;
    width: 200px;
    float: left;
    margin: 0 5px;
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ff3b3f;
    cursor: pointer;
}

.state-list-object:hover {
    box-shadow: 0 0 5px 0 #ff3b3f;
}

.state-list-object img { 
    margin-top: 5px;
    margin-bottom: 5px;
}

.state-button-title {
    font-size: 16px;
}

.admonishment {
    background-color: #ffaabb;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid #ff3b3f;
}

.state-page-year-bar {
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    color: black;
    cursor: pointer;
    border: 1px solid #ff3b3f;
}

.state-page-year-bar:hover {
    box-shadow: 0 0 5px 0 #ff3b3f;
}

.state-page-year-bar-year {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    flex-shrink: 2;
}

.state-page-year-bar-year span {
    background-color: black;
    opacity: 0.8;
    padding: 10px;
    border-radius: 0 100px 100px 0;
    font-weight: bold;
    color: white;
}

.state-page-year-bar-open .state-page-year-bar-year span {
    transform: rotate(90deg);
}

.state-page-link {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.state-page-link:hover {
    background-color: #ff3b3f;
    color: white;
}

.state-page-fake-link:hover {
    background-color: #f8fc04;
    color: black;
}

.state-page-link-disabled:hover {
    background-color: white;
    color: black;
}

.state-page-stack {
    display: flex;
    flex-direction: column;
    justify-content: top;
    flex: 1 1 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.state-page-year-bar-open .state-page-link {
    flex-grow: 0;
}

.state-page-stack-link {
    margin-bottom: 10px;
}

.state-page-stack .state-page-link:last-of-type {
    margin-bottom: 0;
}

.state-page-header {
    background-color: #ff3b3f;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 300px;
    color: white;
}

.state-page-header h2 {
    margin-bottom: 0;
    margin-top: 10px;
}
